ejemplos/xsd/elementosComplejos/02_elemento_vacio_atributos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="producto">
        <xs:complexType>
            <xs:attribute name="id"     type="xs:positiveInteger"/>
            <xs:attribute name="nombre" type="xs:string" />
            <xs:attribute name="precio" type="xs:decimal"/>
            <xs:attribute name="stock"  type="xs:nonNegativeInteger"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
