ejemplos/xsd/elementosComplejos/03_contenido_atributos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="adulto" type="xs:boolean"/>
                    <xs:attribute name="DNI" type="xs:integer" use="required"/>
                    <xs:attribute name="direccion" type="xs:string" use="optional"/>
                    <xs:attribute name="pais" type ="xs:string" use = "prohibited"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
